body {
  background-image: linear-gradient(
    -225deg,
    #7085b6 0%,
    #87a7d9 50%,
    #def3f8 100%
  );
}
h1 {
  font-size: 40px;
  font-weight: bold;
}
h2 {
  font-size: 20px;
}
hr {
  background: #ffffff;
  border-radius: 3px;
  border-style: solid;
  color: #ffffff;
  height: 2px;
}
h3 {
  font-size: 15px;
  font-weight: bold;
  line-height: 25px;
}
i {
  font-size: 30px;
}
a {
  color: #ffffff;
  text-decoration: none;
}
button {
  background: none;
  border: 3px solid #ffffff;
  border-radius: 2px;
  color: #ffffff;
  font-size: 14px;
  margin: 10px auto;
}
button:hover {
  background: #ffffff;
  color: #809cce;
}
.container {
  border-left: 4px solid #ffffff;
  border-right: 4px solid #ffffff;
  color: #ffffff;
  display: block;
  font-family: "Roboto Mono", monospace;
  margin: 40px auto;
  max-width: 60%;
  text-align: center;
}
.search {
  border-bottom: 2px solid #ffffff;
  margin: 0 auto;
  max-width: 225px;
  padding-bottom: 5px;
  position: relative;
}
.input-bar {
  background: none;
  border: none;
  color: #ffffff;
  font-size: 14px;
  width: 165px;
}
.input-bar::placeholder {
  color: #ffffff;
}
.input-bar:focus {
  outline: none;
}
.search-button {
  background: none;
  border: none;
  display: inline;
}
.search-button:focus {
  border-left: 2px solid #ffffff;
  outline: none;
}
.current-city {
  margin-top: 20px;
}
.current-weather,
.weekly-weather {
  margin: 15px auto;
}
.current-weather i {
  color: #ffffff;
  font-size: 100px;
}
.current-weather p {
  font-size: 20px;
}
.temperature .active {
  cursor: default;
}
.temperature .active:hover {
  color: #ffffff;
  text-decoration: none;
}
.current-weather hr {
  max-width: 150px;
}
.weekly-weather h2 {
  text-align: left;
}
.weekly-weather hr {
  margin: 0;
  width: 150px;
}
.forecast p {
  margin: 0;
}
.col-sm {
  padding-bottom: 20px;
}
.link {
  margin-top: 5px;
}
